html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="Keywords" content="control,wstty")
        meta(name="Description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title #{title}
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    body
        p id: #{user.id}
        p email: #{user.email}
        p name: #{user.name}
        p activation: #{user.activation}
        link(href="/css/control.css" rel="stylesheet")
        script(src="/js/control.js")
